@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Alexandre Bezerra<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    99.9999-9999
</address>

<address>
    <strong>Support:</strong> <a href="mailto:solidwinter96@outlook.com">solidwinter96@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:solidwinter96@outlook.com">solidwinter96@outlook.com</a><br/>
    <strong>My GitHub:</strong> <a href="https://github.com/Alexandrade01/">github.com/Alexandrade01</a>
</address>
